/* */

html {
  display: flex;
  font-family: "Poppins-Medium", Century Gothic, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  height: 100%;
  margin: 0;
  width: 100%;
    & > * {
      margin: 0 auto;
    }
}

.interactive-item:hover {
  background-color: rgba(249, 252, 253, 0.7);
  border: 1px solid rgba(147, 151, 153, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(147, 151, 153, 0.2);
}

main {
  margin-top: 10vh;
  transition: filter 0.3s ease;
}

.highlighted-text-6 {
  font-size: 1.25rem;  
}

.highlighted-text-5 {
  font-size: 1.56rem;
}

h4 {
  font-size: 1.95rem;
}

h3 {
  font-size: 2.44rem;
}

h2 {
  font-size: 3.05rem;
}

h1 {
  font-size: 3.82rem;
}

#site-banner {
  backdrop-filter: blur(20px);
  background: linear-gradient(90deg, rgba(222, 236, 237, 0.75), rgba(225, 238, 247, 0.75), rgba(224, 241, 247, 0.75), rgba(224, 231, 239, 0.75));
  border: 1px solid rgba(147, 151, 153, 0.3);
  display: flex;
  flex-flow: row nowrap;
  height: 10vh;
  inset: 0 0 auto 0;
  position: fixed;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
    & > * {
      align-items: center;  
      align-self: center;
      display: flex;
      height: 70%;
      justify-content: center; 
    }
}

#menu-button-container {
  width: 10%;
}

#site-logo {
  width: 20%;
}

#additional {
  align-items: center;
  gap: 0.5rem;
  height: 75%;
  justify-content: center;
  width: 20%;
  & svg {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  & a {
    height: 5vh;
    width: 4vw;
  }
}

#nav-bar {
  justify-content: flex-start;
  width: 50%;
    & ul {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      font-size: 1rem;
      height: 100%;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      width: 50%;
      a {
        color: black;
        padding: 1px 2px;
        text-decoration: none;
      }
    } 
}

#menu-button {
  cursor: pointer;
  height: 2rem;
  margin: auto auto auto 25%;
  max-height: 2rem;
  max-width: 3rem;
  position: relative;
  width: 2.5rem;
    & .line {
      fill: rgb(37,39,40);
    }
}

@media (max-width: 1000px) {
  #nav-bar {
    display: none;
  }

  #menu-button-container, 
  #additional {
    display: flex;
    width: 25%;
  }

  #site-logo {
    width: 50%;
  }

  #menu-button {
    display: flex;
  }
}

#mobile-nav {
  align-content: center;
  background: linear-gradient(90deg, rgba(222, 236, 237, 0.75), rgba(225, 238, 247, 0.75), rgba(224, 241, 247, 0.75), rgba(224, 231, 239, 0.75));
  background-color: rgb(69, 25, 21);
  border: 1px solid rgba(69, 25, 21, 0.05);
  display: none;
  flex-flow: column nowrap;
  height: 100vh;
  justify-items: center;
  position: fixed;
  width: 20vw;
  z-index: 15;
    & ul {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      font-size: 2.5vh;
      height: 20vh;
      list-style: none;
      margin: 0 0 0 5%;
      padding-left: 15px;
      text-transform: uppercase;
      width: 100%;
        & .mobile-nav-item {
          display: flex;
          flex-direction: row;
          width: 100%;
            &:hover {
              a {
                color: rgb(183, 114, 107);
              }
            }
        li, .forward-link {
          height: 25%;
          width: 50%;
        }
        .forward-link {
          a {
            font-size: 3vh;
            padding-left: 80%;
          }
        }
        }
        a {
          color: rgb(255, 255, 255);
          padding: 1px 2px;
          text-decoration: none;
        }
    } 
}

#mobile-nav-top { 
  align-items: center;
  display: flex;
  height: 10vh;
  width: 25%;
  & #mobile-nav-close-btn {
    cursor: pointer;
    height: 2rem;
    margin: auto auto auto 25%;
    max-height: 2rem;
    max-width: 2.5rem;
    width: 2.5rem;
  }
  & svg .line {
    fill: rgb(255, 255, 255);
  }
}

.overlay {
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.2);
  display: none;
  inset: 0 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 5;
}
