section {
  padding: 25px;
}

#skillset {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
}

#skillset-header {
  flex: 1 1 100%;
  text-align: center;  
  margin-bottom: 10px; 
  & p {
    margin: 0;
    color: rgb(105, 105, 105);
  }
  & h2 {
    margin: 0;
  }
}

.skills-group {  
  background: linear-gradient(180deg, rgb(234,240,242), rgb(236,241,244), rgb(236,241,245), rgb(233,243,251), rgb(227,235,244), rgb(229,237,246), rgb(228,239,246));
  box-sizing: border-box;
  border: 1px solid rgb(147, 151, 153, 0.5);
  border-radius: 4px;
  flex: 1 1 45%;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 15px;
  justify-content: space-evenly;
    & .skills-group-name {
      text-align: center;
      flex: 1 1 100%;
      color: rgb(105, 105, 105);
    }
}

.skills-group-item {
  border-radius: 4px;
  margin: 0;
  flex: 1 1 calc(50% - 22px);
  display: flex;
    &:hover {
      background-color: rgb(249,252,253);
    }
    & a {
      background: linear-gradient(90deg, rgba(1, 46, 201, 1.00), rgba(14, 112, 245, 1.00), rgba(35, 156, 253, 1.00));
      width: fit-content;
      padding: 10px;
      border-radius: 4px;
      color: white;
      text-decoration: none;
    }
}

@media (max-width: 768px) {
  .skills-group {
    column-gap: 0;
  }
}

img { 
  width: 100px;
  height: 100px;
}

/*Hero section styles*/

#hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  & h1 {
    line-height: 1;
    margin-bottom: 0;
  }
  & p {
    color: rgb(105, 105, 105);
  }
  & span {
    background: linear-gradient(90deg, rgba(1, 46, 201, 1.00), rgba(14, 112, 245, 1.00), rgba(35, 156, 253, 1.00));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & a {
    text-decoration: none;
  }
}

#more {
  color: rgba(1, 46, 201, 1.00);
}

#playBtn {
  background: linear-gradient(90deg, rgba(1, 46, 201, 1.00), rgba(14, 112, 245, 1.00), rgba(35, 156, 253, 1.00));
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  color: white;
}

#cvBtn {
  background: white;
  width: fit-content;
  padding: 9px;
  border-radius: 4px;
  color: rgba(1, 46, 201, 1.00);
  border: 1px solid rgba(1, 46, 201, 1.00);
  margin-left: 2.5%;
}

