#skillset {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 25px;
  padding: 25px;
}

#skillset-header {
  flex: 1 1 100%;
  text-align: center;  
  margin-bottom: 10px; 
  & p {
    margin: 0;
    color: rgb(105, 105, 105);
  }
  & h2 {
    margin: 0;
  }
}

.skills-group {
  box-sizing: border-box;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 15px;
  flex: 1 1 calc(50% - 13px);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 15px;
  justify-content: space-evenly;
    & .skills-group-name {
      text-align: center;
      flex: 1 1 100%;
      color: rgb(105, 105, 105);
    }
}

.skills-group-item {
  border-radius: 10px;
  margin: 0;
  flex: 1 1 calc(50% - 22px);
  display: flex;
    &:hover {
      background-color: #F0F2F5;
    }
    & a {
      color: #0D6EFD;
      text-decoration: none;
      
    }
}

@media (max-width: 768px) {
  #skillset > :nth-child(3) {
    flex: 1 1 100%;
  }
}

img { 
  width: 100px;
  height: 100%px;
}