#skillset {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 25px;
  padding: 25px;
}

#skillset-header {
  flex: 1 1 100%;
  text-align: center;  
  margin-bottom: 10px; 
  & p {
    margin: 0;
    color: rgb(105, 105, 105);
  }
  & h2 {
    margin: 0;
  }
}

.skills-group {  
  background: linear-gradient(180deg, rgb(234,240,242), rgb(236,241,244), rgb(236,241,245), rgb(233,243,251), rgb(227,235,244), rgb(229,237,246), rgb(228,239,246));
  box-sizing: border-box;
  border: 1px solid rgb(147, 151, 153, 0.5);
  border-radius: 4px;
  flex: 1 1 calc(50% - 13px);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 15px;
  justify-content: space-evenly;
    & .skills-group-name {
      text-align: center;
      flex: 1 1 100%;
      color: rgb(105, 105, 105);
    }
}

.skills-group-item {
  border-radius: 4px;
  margin: 0;
  flex: 1 1 calc(50% - 22px);
  display: flex;
    &:hover {
      background-color: rgb(249,252,253);
    }
    & a {
      color: rgb(0,103,192);
      text-decoration: none;
      &:hover {
        color: rgb(0,62,146);
      }
      
    }
}

@media (max-width: 768px) {
  #skillset > :nth-child(3) {
    flex: 1 1 100%;
  }
}

img { 
  width: 100px;
  height: 100%px;
}