html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Poppins-Regular", Century Gothic, sans-serif;
    & > * {
      width: 100%;
    }
}

#website-banner {
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  height: 15vh;
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  flex-flow: row wrap;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
    & > * {
      color: rgb(255, 255, 255);
      width: 100%;  
      display: flex;
      align-items: center;  
      text-transform: uppercase;
      a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      }
    }
}

#top-bar {
  border-bottom: 1px solid rgb(118, 118, 118);
  justify-content: center;
  height: 65%;
}

#navbar {
  justify-content: space-evenly;
  height: 35%;
  margin: 0 auto;
    & ul {
      width: 50%;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }
}

main {
  margin-top: 15vh;
}

.skillset {
  height: 500px;
  background-color: white;
  align-content: center;
}

.skillset-container {
  color: black;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.skillset-header {
  width: 100%;
  height: 25%;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  & * {
    display: inherit;
    justify-content: center;
  }
}

.skillset-header-sub {
  width: 100%;
  height: 30%;
  margin: 0;
  font-size: 20px;
  align-items: bottom;
  color: rgb(118, 118, 118);
}

.skillset-header-main {
  margin: 0;
  font-size: 35px;
  height: 70%;
  align-self: top;
}








